<!-- Start Footer -->
<footer class=" pt-4" style="background-color: #c9c2a8;">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-3 col-12 align-left">
                <a class="navbar-brand" href="{% url 'main:showmain' %}">
                    <i class='bx bx-buildings bx-sm text-light'></i>
                    <span class="text-light h5">내가 만드는 산책로, 내만산</span>
                </a>
                <p style="color: white; font-size: 14px; font-weight: 300;">중구민들의 산책로 공유를 위한 서비스 내가만드는 산책로, 내만산입니다.</p>
                <p class="text-light my-lg-4 my-2">
                </p>
               
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h3 class="h4 pb-lg-3 text-light light-300"></h2>
                   
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">SNS</h2>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Instargram</a>
                    </li>
               
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">문의사항</h2>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:info@company.com">naemansan@gmail.com</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 py-3" style="background-color: #94B49F;"> 
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        Developed By 서희찬, 오준서, 안유성 
                    </p>
                </div>
                
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->
