{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .hoverGreen:hover{
background-color: #94B49F;
    }
</style>
<section class="service-wrapper py-3" style="transform: translateY(-15px);">
    <div class="service-tag py-5" style="background-color: #c9c2a8;">
        <div class="col-md-12">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item mx-lg-4"  >
                    <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-500 hoverGreen" href="#" data-filter=".project" style=" font-weight: 500;">All</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen"style=" font-weight: 500;" href="#" data-filter=".어학">중림동</a>
                </li>
                <li class="filter-btn nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".전공">소공동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".자격증">희현동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">명동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen"style=" font-weight: 500;" href="#" data-filter=".어학">을지로동</a>
                </li>
                <li class="filter-btn nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".전공">필동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".자격증">광희동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">장충동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen"style=" font-weight: 500;" href="#" data-filter=".어학">신당동</a>
                </li>
                <li class="filter-btn nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".전공">다산공</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".자격증">약수동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">청구동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">동화동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">신당5동</a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-500 hoverGreen" style=" font-weight: 500;"href="#" data-filter=".취업">황학동</a>
                </li>
            </ul>
        </div>
    </div>

</section>

<section class="container overflow-hidden py-5" style="margin-right: 10px;">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

            {%for study in posts%}
    
            <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
                <a href="{%url 'study:detail' study.id%}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                  <img class="card-img" src="{{study.image.url}}" alt="Card image">
                    <div class="service-work-vertical pics card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <p class="card-text" style="margin: 6px;">{{study.name}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {%endfor%}

    </div>
</section>
{% endblock %}
