{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner Hero -->
<style>

</style>

<div class="banner-wrapper bg-light" style="height: 40em;">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-1 pb-5" style="text-align: right;">
                            <h1 class="banner-heading h1 display-3 main-typo1 mb-0 pb-4 mx-0 px-0 light-300 typo-space-line">
                                내가 만드는 <strong>산책로</strong>
                            <br>
                            </h1>
                            <p style="font-size: 20px;" class="banner-body main-typo2 py-0 mx-0 px-0">
                                바쁘게 돌아가는 삶 속에서<br>
                                잠시,<br>
                                재충전을 위한 본인만의 산책로가 있지는 않으신가요?<br>
                                정형화되어 있는 산책로에서 벗어나<br>
                                중구에 숨어있는 다양한 골목길을 느껴보세요.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"role="button" id="landing_btn">더 알아보기</a>
                            <style>
                                #landing_btn {
                                    color: #1f1f65;
                                    border-color: #1f1f65;
                                }
                                
                                #landing_btn:hover {
                                    background-color: #1f1f65;
                                    color: white;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

<!-- End Banner Hero -->

<!-- Start Service -->

<!-- End Service -->

<section class="py-3" style="background-color: rgb(255, 255, 255);">
    <div class="container py-5">
        <h2 class="h2  text-center main-typo3 py-5"><strong>내가 만드는 산책로 소개</strong></h2>
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <div class=" py-5" style="background-color: #b7d3c1; margin-bottom: 30px; border-radius: 20px;">
                    <i class="display-1 text-white fas fa-home"></i>
                </div>
                <h4>홈페이지</h4>
                <div>
                    <p style="display: inline;">근처 중구민이 직접 경험한 좋은 산책 코스에 대한 정보를 볼 수 있고 주민들이 선정한 TOP 3 산책 코스에 대해서도 알 수 있어요!</p>
                </div>
                    
            </div>
            <div class="col-md-3 mb-3">
                <div class="py-5" style="background-color: #b7d3c1; margin-bottom: 30px;border-radius: 20px" >
                    <i class="display-1 text-white fas fa-search"></i>
                </div>
                <h4>산책로 찾기</h4>
                <div>
                    <p style="display: inline;">혹시 찾으시는 산책 장소가 있으신가요? 그렇다면 산책 코스 공유 페이지에서 원하는 장소를 코스별로 참고하여 산책할 수 있어요!!</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="py-5" style="background-color: #b7d3c1; margin-bottom: 30px;border-radius: 20px" >
                    <i class="display-1 text-white fa fa-person-walking"></i>
                </div>
                <h4>산책 코스 만들기</h4>
                <div>
                    <p style="display: inline;">나만의 산책 코스를 혼자 알고 있기 안타까웠다면!? 그렇다면 나만의 산책 코스 만들기 기능을 통해서 다양한 코스를 만들 수 있어요! </p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="py-5" style="background-color: #b7d3c1; margin-bottom: 30px;border-radius: 20px" >
                    <i class="fas fa-user display-1 text-white"></i>
                </div>
                <h4>마이페이지</h4>
                <div>
                    <p style="display: inline;">나의 프로필 상태, 산책 코스 등록 현황 등을 확인할 수 있고 팔로우, 팔로잉 기능을 통해 다른 사용자의 산책로를 구경할 수 있어요!</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 main-typo3 py-5"><strong>Top3 산책로</strong></h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">
            {%for study in posts|slice:":3"%}
            <div class="col-xl-4 col-md-4 col-sm-6 project ui graphic">
                <a href="{%url 'study:detail' study.id%}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                    <img class="card-img" src="{{study.image.url}}" alt="Card image">
                    <div class="service-work-vertical pics card-img-overlay d-flex align-items-end">
                        <div class="service-work-content text-left text-light">
                            <p class="card-text" style="margin: 6px;">{{study.name}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</section>



<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 main-typo3 py-5"><strong>Developer</strong></h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start Recent Work -->
            <section id="teams" class="section teams">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'img/오준서.png' %}" style="width: 70%;" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>오준서</h4>
                                    <h5 class="role">융합에너지신소재공학과</h5>
                                    <p style="display: inline;">💻 email : wnstj701@naver.com</p>
                                    <p><i class="fab fa-github-square"></i> GitHub : github.com/AsherOh</p>
                                </div>
                            </div><!-- person -->
                        </div>
        
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'img/서희찬.png' %}" style="width: 70%;" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>서희찬</h4>
                                    <h5 class="role">멀티미디어공학과</h5>
                                    <p style="display:inline;">💻 email : gmlcks0513@naver.com</p>
                                    <p><i class="fab fa-github-square"></i> GitHub : github.com/seochan99</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'img/안유성.png' %}"style="width: 70%;" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>안유성</h4>
                                    <h5 class="role">전자전기공학부</h5>
                                    <p style="display:inline;">💻 email : ays991210@naver.com</p>
                                    <p><i class="fab fa-github-square"></i> GitHub : github.com/ustar1210
                                    </p>
                                </div>
                            </div><!-- person -->
                        </div>
                    </div>
                </div>
            </section><!-- teams -->
        </div>
    </div>
</section>
<!-- End Recent Work -->
<script src="https://kit.fontawesome.com/f46ac9c5ac.js" crossorigin="anonymous"></script>

{% endblock %}